.row {
  gap: 20px;
  justify-content: center;
}
.card {
  margin-left: -25px;
}
.card:hover {
  box-shadow: inset 0 0 0 1px #e6e6e6, 0 2px 4px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.nav-item:hover {
  background-color: #f8f9fa;
  border-radius: 10px;
}
