.content-1{
    margin-left: 15%;
    margin-right: 15%;
}

.main-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
.first-row{
    text-align: center;
}
.img-fluid{
    align-items: center;
}